.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--mat-sys-inverse-on-surface);
}

.login-card {
  width: 100%;
  max-width: 400px;
  padding: 24px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
