.container {
  width: calc(100vw - 48px);
  height: calc(100% - 64px);
  min-height: calc(100vh - 64px);
  padding: 16px;
  background-color: var(--mat-sys-inverse-on-surface);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.filtros {
  display: flex;
  gap: 16px;
}

.paginacao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
